/* Import fonts */
@import url("./styles/fonts.css");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

body {
   font-family: "Poppins", sans-serif;
}

code,
pre {
   font-family: "Geist Mono", monospace;
}

:root {
   --primary: hsl(60, 5.9%, 86.7%);
   --background: hsl(240, 3%, 93.5%);
   --purple-bg: rgba(229, 229, 244, 0.5);
   --gray-bg: rgb(247, 247, 248);
   --green-bg: rgb(219, 233, 216);
}
